html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #B0B0B0;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
    -moz-user-select:       none;
    -ms-user-select:        none;
    user-select:            none;
}

a {
    color: #555 !important;
}

#container {
    width: 100%;
    height: 100%;
}

#center {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    height: calc(100% - 30px);
    left: 50%;
    max-width: 50%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#bang {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    max-width: 100%;
}

#bang.on {
    -webkit-animation: bang 0.5s infinite;
    animation: bang 0.5s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#casey {
    position: relative;
    width: 100%; 
    pointer-events: none;
}

#mouth {
    position: absolute;
    width: 12%;
    left: 47%;
    bottom: 0;
    padding: 5% 6% 0 12%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#controls {
    position: relative;
    width: 100%;
    height: 100%;
}

#explanation {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-left: -30%;
}

#q {
    position: absolute;
    bottom: 0;
    width: 8%;
    margin-left: 30%;
}

#footer {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: x-small;
    padding: 3px;
    box-sizing: border-box;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#disclaimer {
    margin-right: 20px;
}

#preload {
    position: absolute;
    left: 200%;
}

#loading {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#loading > span {
    text-align: center;
}

.loading-head {
    font-size: xx-large;
}

.loading-sub {
    font-size: x-small;
}

iframe.passive {
    position: absolute;
    left: 200%;
    pointer-events: none;
    visibility: hidden;
}

iframe.takeover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(100) translateX(6%) translateY(18%);
    transform: scale(100) translateX(6%) translateY(18%);
}

#touch-to-begin {
    display: none;
}

@-webkit-keyframes bang {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 40% 80%;
        transform-origin: 40% 80%;
    }
    
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
        -webkit-transform-origin: 40% 80%;
        transform-origin: 40% 80%;

    }
    
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 40% 80%;
        transform-origin: 40% 80%;

    }
}

@keyframes bang {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 40% 80%;
        transform-origin: 40% 80%;
    }
    
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
        -webkit-transform-origin: 40% 80%;
        transform-origin: 40% 80%;

    }
    
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 40% 80%;
        transform-origin: 40% 80%;

    }
}